@import './variables.less';
@import './layout.less';
@import './dashboard.less';
@import './table.less';
@import './drawer.less';
@import './components.less';
@import './dark.less';

.giua-ki-root {
  * {
    box-sizing: border-box;
  }

  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
